:root {
    /* VERSIONE CHIARA */
    --coloreNavbar: white;
    --testoNavbar: #333;        /* testo della navbar */
    --colorePrimario: #f7f7f7;  /* sfondo principale della pagina */
    --titoloImmagine: #c11f5d;  /* titoli principali */
    --rosaSecondario: #c11f5d;  
    --grigioTesto: #333;        /* testo normale */
    --ombraBottone: rgba(0,0,0,0.1);
    --grigioScritteService: #333; /* testo interno dei div */
    --divService: #ffffff;        /* sfondo dei box div */
    --bulletColor: #c11f5d;      /* colore dei bullet della lista */
}

.scuro {
    /* VERSIONE SCURA */
    --coloreNavbar: transparent;        /* navbar più scura */
    --testoNavbar: #f7f7f7;
    --colorePrimario: #1a1a1a;  /* sfondo principale pagina */
    --titoloImmagine: #c11f5d;  
    --rosaSecondario: #c11f5d;  
    --grigioTesto: #ddd;
    --ombraBottone: rgba(255, 255, 255, 0.1);
    --grigioScritteService: #ddd; /* testo interno dei div */
    --divService: #2a2a2a;       /* sfondo dei box div */
    --bulletColor: #c11f5d;      /* bullet rimane rosa */
}