@font-face {
    font-family: "raleway";
    src: url("../font/static/Raleway-Bold.ttf") format("truetype");
}


:root {

}

.scuro {

}


body {
    margin: 0;
    padding: 0;
}
    
.header_scritte {
    all: unset;
    white-space: nowrap;
    font-family: "raleway";
    color: var(--testoNavbar);
    border-bottom: solid transparent 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: color 0.2s, border-bottom-color 0.2s;
}

.header_scritte:hover {
    all: unset;
    white-space: nowrap;
    font-family: "raleway";
    color:var(--rosaSecondario);
    cursor: pointer;
    border-bottom: solid var(--rosaSecondario) 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: color 0.2s, border-bottom-color 0.2s;
}

.header_scritta_selezionato {
    all: unset;
    white-space: nowrap;
    font-family: "raleway";
    color:var(--rosaSecondario);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid var(--rosaSecondario) 3px;
    padding-bottom: 20px;
}

#themeSwitch {

    height: 50px; 
    width: 50px; 
    padding: 0; 
    border-radius: 40%; 
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 20px; 
    right: 20px; 
}

#themeSwitch svg{
    fill: var(--primary-color);
}
#themeSwitch svg:last-child{
    display: none;
}
.scuro #themeSwitch svg:first-child{
    display: none;
}
.scuro #themeSwitch svg:last-child{
    display: block;
}