
 @font-face {
    font-family: "ralewayGrassetto";
    src: url("../font/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ralewayX"; 
    src: url("../font/static/Raleway-Light.ttf") format("truetype");
}

body {
    background-color: var(--colorePrimario);
}

#contenuto-principale {
    max-width: 900px; 
    width: 90%;
    margin: 0px auto; 
    text-align: left;
}


.scritte_interne {
    font-family: "ralewayX", sans-serif;
    color: var(--grigioScritteService); 
    max-width: 100%;
    line-height: 1.8;
    text-align: justify; 
    margin-bottom: 40px;
    font-size: 1.1em;
}

.scritte_interne p {
    padding: 0;
    margin: 0;
}


#contenuto-principale h2 {
    font-family: "ralewayGrassetto";
    color: var(--titoloImmagine); 
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 5px;
}

#hero-service {
    margin-top: 100px; 
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

#hero-service h1 {
    font-family: "ralewayGrassetto";
    color: var(--titoloImmagine);
    font-size: 40px;
    margin: 0;
}

#hero-service p {
    font-family: "ralewayX";
    font-size: 1.2em;
    color: var(--grigioTesto);
    margin-top: 10px;
}

#cinque-vie-azione {    
    margin: 40px 0;
    padding: 30px;
    border: 1px solid var(--rosaSecondario); 
    background-color: var(--divService); 
    border-radius: 5px;
}

#cinque-vie-azione ul {
    list-style-type: none; 
    padding: 0;
}

#cinque-vie-azione li {
    font-family: "ralewayX";
    color: var(--grigioScritteService);
    margin-bottom: 25px;
    padding-left: 35px;
    position: relative;
    line-height: 1.6;
}

#cinque-vie-azione li::before {
    content: "●"; 
    color: var(--bulletColor);
    font-size: 1.2em;
    position: absolute;
    left: 0;
    top: 0;
}

#cinque-vie-azione li strong {
    font-family: "ralewayX";
    color: var(--grigioTesto);
    font-weight: bold;
}

